@font-face {
  font-family: 'General Sans';
  src: url('./assets./fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
