@import './App.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   box-sizing: border-box;
   margin: 0;

}

.bg-main{
   background: url('./assets/living-room.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.bg-customer {
   background: url('./assets/who-we-are/customer.png');
   background-size: contain; /* Ensures the entire image fits within the div */
   background-position: center;
   background-repeat: no-repeat;
 }
 